h1 {
    color: #FF8000;
}
/* RGB provides more granular control on color shades as each component gives 256 options vs 16 using HEX */
h4 {
    color: rgb(0,12,255);
}

/* Also its good to try RGBA it has the A or Alpha channel that lets you control its transparency */
li {
    color: rgba(0, 200, 100,0.5);
}